head
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
	script(src = "/clone.js")
	script(src = "//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
	script(src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js")
	script(src = "https://fb.me/react-0.13.3.js")
	link(href = "/main.css", rel = "stylesheet")
body
	.container-fluid
		.row
			#prototype
				h1 Generating data...
	//- sample data, and generation
	script(src = "/data/actions.js")
	script(src = "/data/users.js")
	script(src = "/data/groups.js")
	script(src = "/data/apps.js")
	script(src = "/data/eventSpec.js")
	script(src = "/data/dataBuilder.js")
		
	//- react
	script(src = "/classes/results-box.js")
	script(src = "/classes/input-box.js")
	script(src = "/classes/properties-box.js")
	script(src = "/classes/event-box.js")
	script(src = "/classes/prototype-box.js")
