head
	link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
	link(href = "/main.css", rel = "stylesheet")
	script(src = "/clone.js")
	script(src = "//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.4.0/seedrandom.min.js")
	script(src = "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js")
	script(src = "https://fb.me/react-0.13.3.js")
body
	.container-fluid
		.row
			#prototype
				h1 Loading...
	//- sample data, and generation
	script(src = "/users.js")
	script(src = "/apps.js")
	script(src = "/events.js")
	script(src = "/dataBuilder.js")
		
	//- react
	script(src = "/results-box.js")
	script(src = "/input-box.js")
	script(src = "/properties-box.js")
	script(src = "/event-box.js")
	script(src = "/prototype-box.js")
