h1
	color black
#events
	background-color #eeeeee

table.table
	.indent-0
		// padding-left 32px * 0
		font-weight bold
	.indent-1
		padding-left 32px * 1
	.indent-2
		padding-left 32px * 2
	.indent-3
		padding-left 32px * 3
	.indent-4
		padding-left 32px * 4
